body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#startBtn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.btn {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: 5px solid black;
}

.red { background-color: #d95980; }
.green { background-color: #63aac0; }
.yellow { background-color: #f99b45; }
.purple { background-color: #819ff9; }

.flash { background-color: white; }
.userFlash { background-color: lightgreen; }
